.DS_Store
/node_modules
/dist
.vscode
*.log
.eslintrc.json
.esdoc.json
doc
.esdoc.json
.babelrc
eslintrc.json
karma.conf.js
npm-debug.log
/dst
src/js
src/ts/**/*.js
.idea
coverage/Chrome 56.0.2924 (Mac OS X 10.11.4)