
body{
width: 500px;
margin: auto auto;
}


table {
border-collapse: collapse;
}
td {
	border: solid 1px;
	width:150px;
    height:150px;
	text-align:center;
	vertical-align:center;
	background-color: 	#008000;
}